html {
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
}
body{
	@include full();
	background: $light;
	padding: 0px;
}
canvas{
	@include wh(100%, 900px);
}
#graph{
	@include wh(100%, 820px);	
}
.legends{
	@include wh(100%, 100px);
	position: absolute;
	left:0px;
	bottom:0px;
	padding:0px 30px;
}
.details{
	background: $trans;
	width:auto;
	margin:0px;
	padding:0px;
	position: absolute;
	padding:5px 10px;
	right:0px;
	top:0px;
	color: $light;
}
.dump { 
	@include dp(); 
}

